*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url("image.png");
    background-size: 100%;
    background-repeat: no-repeat;  
}

.main_area{
    text-align: center;
    background: linear-gradient(45deg, rgba(253, 166, 4, 0.6), rgba(135, 206, 235, 0.6));
    height: 600px;
    width: 50%;
    margin: auto;
    border-radius: 30px;
}

h1{
    font-size: 40px;
    color: rgb(219, 0, 0);
}

input{
    margin: 10px;
    padding: 10px;
    height: 30px;
    width: 50%;
    border-radius: 10px;
    outline: none;
    border: none;
    background: rgb(141, 238, 238);
}

.btn{
    height: 40px;
    width: 25%;
    background: orangered;
    border-radius: 30px;
    border: none;
}

.btn:hover{
    background: rgb(255, 208, 0)
}

#prediction{
    color: rgb(18, 48, 221);
    font-size: 30px;
    font-weight: bold;
}